In [1]:
#Inportar las librerías necesarias
import os
import sys
sys.path.append(os.getcwd()+'\\..')
import numpy as np 
import pandas as pd
from lib import etabs_utils as etb
from lib import sismo_utils as sis
from mem import sismo_mem as smem
from mem import latex_utils as ltx
from ipywidgets import widgets

In [2]:
#Conectar a etabs
try:
    SapModel, EtabsObject = etb.connect_to_etabs()
except:
    pass

In [3]:
sismo = smem.sismo_e30()
sismo.parametros_e30()

VBox(children=(Dropdown(description='Factor Zona', index=1, options=('1', '2', '3', '4'), style=DescriptionSty…

In [4]:
sismo.irregularidades_e30()

HBox(children=(VBox(children=(HTML(value='<b>Irregularidad en Altura</b>'), Checkbox(value=False, description=…

In [5]:
print(f'Irregularidad en planta: {sismo.Ip}')
print(f'Irregularidad en altura: {sismo.Ia}')

Irregularidad en planta: 1
Irregularidad en altura: 1

In [6]:
sismo.analisis_sismo(SapModel)

Análisis Modal:
Masa Paiticipativa X: 0.95
Masa Paiticipativa Y: 0.86
---Aumentar Grados de Libertad 0.86 < 0.9
Periodo y deformaxión X: Tx=0.644, Ux=0.691
Periodo y deformaxión Y: Ty=0.218, Uy=0.654
Factor de Reduccion con Irregularidades: R=6.0
C en X: 2.33
C en Y: 2.50

Coeficiente de sismo estático X: 0.116
Coeficiente de sismo estático Y: 0.125
Exponente de altura X: 1.07
Exponente de altura Y: 1.00

## Revisión por Piso Blando

In [8]:
sismo.piso_blando_table[sismo.piso_blando_table.OutputCase == 'SDx Max']

,Story,OutputCase,UX,UY,URX,URY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
32,Story8,SDx Max,0.023583,0.000879,0.002284,0.000112,16.9984,0.844,14978.096072,0.000000,0.000000,Regular
33,Story7,SDx Max,0.021299,0.000767,0.002981,0.000108,34.801,1.7267,27662.233342,10484.667250,0.000000,Regular
34,Story6,SDx Max,0.018318,0.000659,0.003436,0.000128,49.2654,2.437,33377.071813,19363.563339,0.000000,Regular
35,Story5,SDx Max,0.014882,0.000531,0.003817,0.000142,60.929,3.0096,37156.902220,23363.950269,20271.306994,Regular
36,Story4,SDx Max,0.011065,0.000389,0.003818,0.000140,70.4907,3.4785,43309.157749,26009.831554,26185.655300,Regular
37,Story3,SDx Max,0.007247,0.000249,0.003535,0.000127,77.4059,3.8097,51894.639210,30316.410424,30358.168475,Regular
38,Story2,SDx Max,0.003712,0.000122,0.002678,0.000099,81.4952,3.9923,70757.629318,36326.247447,35296.186448,Regular
39,Story1,SDx Max,0.001034,2.3E-05,0.001034,0.000023,82.6308,4.0295,255109.385249,49530.340522,44256.380340,Regular

In [9]:
sismo.piso_blando_table[sismo.piso_blando_table.OutputCase == 'SDx Min']

Empty DataFrame
Columns: [Story, OutputCase, UX, UY, URX, URY, VX, VY, lat_rig(k), 0.7_prev_k, 0.8k_prom, is_reg]
Index: []

In [10]:
sismo.piso_blando_table[sismo.piso_blando_table.OutputCase == 'SDy Max']

,Story,OutputCase,UX,UY,URX,URY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
16,Story8,SDy Max,0.001034,0.00322,0.000154,0.000471,0.9525,19.257,47070.415254,0.000000,0.000000,Regular
17,Story7,SDy Max,0.00088,0.002749,0.000122,0.000495,1.8038,39.3104,94200.195397,32949.290677,0.000000,Regular
18,Story6,SDy Max,0.000758,0.002254,0.000140,0.000501,2.4507,54.5881,126463.283433,65940.136778,0.000000,Regular
19,Story5,SDy Max,0.000618,0.001753,0.000144,0.000490,2.9733,66.2486,155849.141156,88524.298403,71395.705089,Regular
20,Story4,SDy Max,0.000474,0.001263,0.000160,0.000456,3.4651,75.8049,187895.690789,109094.398810,100403.365330,Regular
21,Story3,SDy Max,0.000314,0.000807,0.000150,0.000394,3.878,83.0194,236562.470389,131526.983553,125388.830768,Regular
22,Story2,SDy Max,0.000164,0.000413,0.000107,0.000296,4.154,87.4793,334360.605582,165593.729272,154748.613956,Regular
23,Story1,SDy Max,5.7E-05,0.000117,0.000057,0.000117,4.2302,88.65,831906.342780,234052.423908,202351.671136,Regular

In [11]:
sismo.piso_blando_table[sismo.piso_blando_table.OutputCase == 'SDy Min']

Empty DataFrame
Columns: [Story, OutputCase, UX, UY, URX, URY, VX, VY, lat_rig(k), 0.7_prev_k, 0.8k_prom, is_reg]
Index: []

In [12]:
sismo.piso_blando_table[sismo.piso_blando_table.OutputCase == 'Sx Max']

,Story,OutputCase,UX,UY,URX,URY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
0,Story8,Sx Max,0.029558,-0.000471,0.002885,-0.000037,-19.5984,0,6793.206239,0.000000,0.000000,Regular
1,Story7,Sx Max,0.026673,-0.000434,0.003744,-0.000046,-41.7193,0,11142.975427,4755.244367,0.000000,Regular
2,Story6,Sx Max,0.022929,-0.000388,0.004313,-0.000070,-60.2389,0,13966.821238,7800.082799,0.000000,Regular
3,Story5,Sx Max,0.018616,-0.000318,0.004781,-0.000083,-75.2468,0,15738.715750,9776.774867,8507.467441,Regular
4,Story4,Sx Max,0.013835,-0.000235,0.004780,-0.000087,-87.353,0,18274.686192,11017.101025,10892.936644,Regular
5,Story3,Sx Max,0.009055,-0.000148,0.004420,-0.000081,-95.8994,0,21696.696833,12792.280335,12794.726181,Regular
6,Story2,Sx Max,0.004635,-6.7E-05,0.003350,-0.000055,-100.9831,0,30144.208955,15187.687783,14856.026340,Regular
7,Story1,Sx Max,0.001285,-1.2E-05,0.001285,-0.000012,-102.4269,0,79709.649805,21100.946269,18697.491195,Regular

In [13]:
sismo.piso_blando_table[sismo.piso_blando_table.OutputCase == 'Sx Min']

,Story,OutputCase,UX,UY,URX,URY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
40,Story8,Sx Min,0.029308,-0.000879,0.003131,-0.000105,-19.5984,0,6259.469818,0.000000,0.000000,Regular
41,Story7,Sx Min,0.026177,-0.000774,0.003663,-0.000101,-41.7193,0,11389.380289,4381.628873,0.000000,Regular
42,Story6,Sx Min,0.022514,-0.000673,0.004224,-0.000127,-60.2389,0,14261.103220,7972.566203,0.000000,Regular
43,Story5,Sx Min,0.01829,-0.000546,0.004623,-0.000145,-75.2468,0,16276.616915,9982.772254,8509.320887,Regular
44,Story4,Sx Min,0.013667,-0.000401,0.004712,-0.000145,-87.353,0,18538.412564,11393.631841,11180.560113,Regular
45,Story3,Sx Min,0.008955,-0.000256,0.004358,-0.000133,-95.8994,0,22005.369436,12976.888795,13086.968720,Regular
46,Story2,Sx Min,0.004597,-0.000123,0.003410,-0.000102,-100.9831,0,29613.812317,15403.758605,15152.106377,Regular
47,Story1,Sx Min,0.001187,-2.1E-05,0.001187,-0.000021,-102.4269,0,86290.564448,20729.668622,18708.691818,Regular

In [14]:
sismo.piso_blando_table[sismo.piso_blando_table.OutputCase == 'Sy Max']

,Story,OutputCase,UX,UY,URX,URY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
8,Story8,Sy Max,-0.000589,0.004293,0.000050,0.000627,0,-20.5817,32825.677831,0.000000,0.000000,Regular
9,Story7,Sy Max,-0.000639,0.003666,-0.000093,0.000646,0,-44.043,68178.018576,22977.974482,0.000000,Regular
10,Story6,Sy Max,-0.000546,0.00302,-0.000109,0.000659,0,-63.9121,96983.459788,47724.613003,0.000000,Regular
11,Story5,Sy Max,-0.000437,0.002361,-0.000142,0.000653,0,-80.2368,122874.119449,67888.421851,52796.574985,Regular
12,Story4,Sy Max,-0.000295,0.001708,-0.000111,0.000611,0,-93.6331,153245.662848,86011.883614,76809.492750,Regular
13,Story3,Sy Max,-0.000184,0.001097,-0.000101,0.000534,0,-103.3082,193461.048689,107271.963993,99494.197889,Regular
14,Story2,Sy Max,-8.3E-05,0.000563,-0.000033,0.000409,0,-109.2621,267144.498778,135422.734082,125221.554930,Regular
15,Story1,Sy Max,-5E-05,0.000154,-0.000050,0.000154,0,-111.0734,721255.844156,187001.149144,163693.656084,Regular

In [15]:
sismo.piso_blando_table[sismo.piso_blando_table.OutputCase == 'Sy Min']

,Story,OutputCase,UX,UY,URX,URY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
24,Story8,Sy Min,-0.000665,0.004169,0.000125,0.000606,0,-20.5817,33963.201320,0.000000,0.000000,Regular
25,Story7,Sy Min,-0.00079,0.003563,-0.000118,0.000630,0,-44.043,69909.523810,23774.240924,0.000000,Regular
26,Story6,Sy Min,-0.000672,0.002933,-0.000135,0.000642,0,-63.9121,99551.557632,48936.666667,0.000000,Regular
27,Story5,Sy Min,-0.000537,0.002291,-0.000191,0.000633,0,-80.2368,126756.398104,69686.090343,54246.475403,Regular
28,Story4,Sy Min,-0.000346,0.001658,-0.000131,0.000595,0,-93.6331,157366.554622,88729.478673,78991.327879,Regular
29,Story3,Sy Min,-0.000215,0.001063,-0.000120,0.000517,0,-103.3082,199822.437137,110156.588235,102313.202762,Regular
30,Story2,Sy Min,-9.5E-05,0.000546,-0.000015,0.000395,0,-109.2621,276612.911392,139875.705996,129052.103964,Regular
31,Story1,Sy Min,-8E-05,0.000151,-0.000080,0.000151,0,-111.0734,735585.430464,193629.037975,169013.840840,Regular

## Revisión por Irregularidad de Masa

In [16]:
sismo.rev_masa_table

    Story     Mass 1.5_inf_mass 1.5_sup_mass story_type     is_reg
0  Story8  6.66875                               Azotea    Regular
1  Story7  8.75356                 10.003125     Azotea    Regular
2  Story6  8.73707    13.108545                    Piso    Regular
3  Story5  8.73903    13.745145    13.105605       Piso    Regular
4  Story4  9.16343    13.745145    13.108545       Piso    Regular
5  Story3  9.16343    13.745145    13.745145       Piso    Regular
6  Story2  9.16343    11.150445    13.745145       Piso    Regular
7  Story1  7.43363     5.340225    13.745145       Piso  Irregular
8      NT  3.56015                 11.150445       Piso    Regular
9    Base  3.91769                               Sotano    Regular

## Revisión de torsión

In [19]:
sismo.torsion_table[sismo.torsion_table.OutputCase == 'SDx Max']

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
6,Story8,SDx Max,X,0.003021,0.002475,1.221,2.5,0.005438,False,Regular
15,Story7,SDx Max,X,0.003476,0.002869,1.211,2.5,0.006257,False,Regular
24,Story6,SDx Max,X,0.004116,0.003335,1.234,2.5,0.007409,False,Regular
33,Story5,SDx Max,X,0.00454,0.003673,1.236,2.5,0.008172,False,Regular
42,Story4,SDx Max,X,0.004657,0.003773,1.234,2.5,0.008383,False,Regular
51,Story3,SDx Max,X,0.004479,0.003582,1.25,2.5,0.008062,False,Regular
59,Story2,SDx Max,X,0.003811,0.002958,1.288,2.5,0.006860,False,Regular
68,Story1,SDx Max,X,0.001124,0.000904,1.244,1.5,0.003372,True,Regular
77,NT,SDx Max,X,0.00024,0.00012,2,1.75,0.000617,True,Regular
78,NT,SDx Max,Y,2.8E-05,1.4E-05,2,1.75,0.000072,True,Regular

In [20]:
sismo.torsion_table[sismo.torsion_table.OutputCase == 'SDx Min']

Empty DataFrame
Columns: [Story, OutputCase, Direction, Max Drift, Avg Drift, Ratio, Height, Drifts, Drift < Dmax/2, tor_reg]
Index: []

In [21]:
sismo.torsion_table[sismo.torsion_table.OutputCase == 'SDy Max']

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
7,Story8,SDy Max,X,0.000535,0.000322,1.662,2.5,0.000963,True,Regular
8,Story8,SDy Max,Y,0.000498,0.000478,1.042,2.5,0.000896,True,Regular
16,Story7,SDy Max,X,0.00059,0.000357,1.65,2.5,0.001062,True,Regular
17,Story7,SDy Max,Y,0.000527,0.00051,1.033,2.5,0.000949,True,Regular
25,Story6,SDy Max,X,0.000632,0.000387,1.633,2.5,0.001138,True,Regular
26,Story6,SDy Max,Y,0.000533,0.000517,1.031,2.5,0.000959,True,Regular
34,Story5,SDy Max,X,0.00065,0.000402,1.618,2.5,0.001170,True,Regular
35,Story5,SDy Max,Y,0.000523,0.000506,1.034,2.5,0.000941,True,Regular
43,Story4,SDy Max,X,0.000637,0.000397,1.605,2.5,0.001147,True,Regular
44,Story4,SDy Max,Y,0.000488,0.000471,1.035,2.5,0.000878,True,Regular
52,Story3,SDy Max,X,0.000577,0.000361,1.597,2.5,0.001039,True,Regular
53,Story3,SDy Max,Y,0.000423,0.000407,1.038,2.5,0.000761,True,Regular
60,Story2,SDy Max,X,0.00046,0.000287,1.602,2.5,0.000828,True,Regular
61,Story2,SDy Max,Y,0.000332,0.000313,1.058,2.5,0.000598,True,Regular
69,Story1,SDy Max,X,0.000167,0.000103,1.625,1.5,0.000501,True,Regular
70,Story1,SDy Max,Y,0.000126,0.000108,1.173,1.5,0.000378,True,Regular
79,NT,SDy Max,X,3.3E-05,1.6E-05,2,1.75,0.000085,True,Regular
80,NT,SDy Max,Y,2.7E-05,1.3E-05,2,1.75,0.000069,True,Regular

In [22]:
sismo.torsion_table[sismo.torsion_table.OutputCase == 'SDy Min']

Empty DataFrame
Columns: [Story, OutputCase, Direction, Max Drift, Avg Drift, Ratio, Height, Drifts, Drift < Dmax/2, tor_reg]
Index: []

In [23]:
sismo.torsion_table[sismo.torsion_table.OutputCase == 'Sx Max']

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
0,Story8,Sx Max,X,0.003704,0.00322,1.15,2.5,0.006667,False,Regular
9,Story7,Sx Max,X,0.004269,0.003965,1.077,2.5,0.007684,False,Regular
18,Story6,Sx Max,X,0.005001,0.004557,1.098,2.5,0.009002,False,Regular
27,Story5,Sx Max,X,0.005525,0.004992,1.107,2.5,0.009945,False,Regular
36,Story4,Sx Max,X,0.005673,0.00511,1.11,2.5,0.010211,False,Regular
45,Story3,Sx Max,X,0.005454,0.004828,1.13,2.5,0.009817,False,Regular
54,Story2,Sx Max,X,0.004629,0.003834,1.207,2.5,0.008332,False,Regular
62,Story1,Sx Max,X,0.001384,0.001154,1.198,1.5,0.004152,False,Regular
71,NT,Sx Max,X,0.00033,0.000138,2.387,1.75,0.000849,True,Regular

In [24]:
sismo.torsion_table[sismo.torsion_table.OutputCase == 'Sx Min']

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
1,Story8,Sx Min,X,0.003156,0.002714,1.163,2.5,0.005681,False,Regular
10,Story7,Sx Min,X,0.003666,0.003233,1.134,2.5,0.006599,False,Regular
19,Story6,Sx Min,X,0.004287,0.00373,1.149,2.5,0.007717,False,Regular
28,Story5,Sx Min,X,0.004705,0.004101,1.147,2.5,0.008469,False,Regular
37,Story4,Sx Min,X,0.004813,0.00421,1.143,2.5,0.008663,False,Regular
46,Story3,Sx Min,X,0.004605,0.003978,1.157,2.5,0.008289,False,Regular
55,Story2,Sx Min,X,0.003895,0.003263,1.194,2.5,0.007011,False,Regular
63,Story1,Sx Min,X,0.001218,0.001037,1.175,1.5,0.003654,False,Regular
72,NT,Sx Min,X,0.0003,0.000123,2.441,1.75,0.000771,True,Regular

In [29]:
sismo.torsion_table[sismo.torsion_table.OutputCase == 'Sy Max']

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
2,Story8,Sy Max,X,0.000513,0.000119,4.305,2.5,0.000923,True,Regular
3,Story8,Sy Max,Y,0.000747,0.000628,1.19,2.5,0.001345,True,Regular
11,Story7,Sy Max,X,0.000562,0.000108,5.205,2.5,0.001012,True,Regular
12,Story7,Sy Max,Y,0.000798,0.000672,1.188,2.5,0.001436,True,Regular
20,Story6,Sy Max,X,0.000596,9.3E-05,6.426,2.5,0.001073,True,Regular
21,Story6,Sy Max,Y,0.000821,0.000687,1.195,2.5,0.001478,True,Regular
29,Story5,Sy Max,X,0.000604,8.2E-05,7.367,2.5,0.001087,True,Regular
30,Story5,Sy Max,Y,0.000816,0.000679,1.202,2.5,0.001469,True,Regular
38,Story4,Sy Max,X,0.000589,7.2E-05,8.13,2.5,0.001060,True,Regular
39,Story4,Sy Max,Y,0.000775,0.00064,1.212,2.5,0.001395,True,Regular
47,Story3,Sy Max,X,0.000534,5.6E-05,9.467,2.5,0.000961,True,Regular
48,Story3,Sy Max,Y,0.000682,0.000559,1.22,2.5,0.001228,True,Regular
56,Story2,Sy Max,Y,0.000547,0.000438,1.25,2.5,0.000985,True,Regular
64,Story1,Sy Max,X,0.000154,2.4E-05,6.324,1.5,0.000462,True,Regular
65,Story1,Sy Max,Y,0.000201,0.000156,1.288,1.5,0.000603,True,Regular
73,NT,Sy Max,X,2.3E-05,9E-06,2.645,1.75,0.000059,True,Regular
74,NT,Sy Max,Y,3.3E-05,3E-06,11.277,1.75,0.000085,True,Regular

In [26]:
sismo.torsion_table[sismo.torsion_table.OutputCase == 'Sy Min']

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
4,Story8,Sy Min,X,0.000444,8.7E-05,5.118,2.5,0.000799,True,Regular
5,Story8,Sy Min,Y,0.000675,0.000571,1.181,2.5,0.001215,True,Regular
13,Story7,Sy Min,X,0.000561,0.000133,4.228,2.5,0.001010,True,Regular
14,Story7,Sy Min,Y,0.000718,0.000609,1.179,2.5,0.001292,True,Regular
22,Story6,Sy Min,X,0.000666,0.000178,3.746,2.5,0.001199,True,Regular
23,Story6,Sy Min,Y,0.000734,0.000619,1.187,2.5,0.001321,True,Regular
31,Story5,Sy Min,X,0.000714,0.000201,3.552,2.5,0.001285,True,Regular
32,Story5,Sy Min,Y,0.000728,0.00061,1.194,2.5,0.001310,True,Regular
40,Story4,Sy Min,X,0.000718,0.000207,3.46,2.5,0.001292,True,Regular
41,Story4,Sy Min,Y,0.000688,0.000572,1.204,2.5,0.001238,True,Regular
49,Story3,Sy Min,X,0.000681,0.000203,3.35,2.5,0.001226,True,Regular
50,Story3,Sy Min,Y,0.000603,0.000497,1.213,2.5,0.001085,True,Regular
57,Story2,Sy Min,X,0.000579,0.000175,3.312,2.5,0.001042,True,Regular
58,Story2,Sy Min,Y,0.000482,0.000387,1.244,2.5,0.000868,True,Regular
66,Story1,Sy Min,X,0.00018,5E-05,3.64,1.5,0.000540,True,Regular
67,Story1,Sy Min,Y,0.000177,0.000138,1.281,1.5,0.000531,True,Regular
75,NT,Sy Min,X,1.1E-05,2.472E-07,42.767,1.75,0.000028,True,Regular
76,NT,Sy Min,Y,3.2E-05,1E-06,40.601,1.75,0.000082,True,Regular

## Derivas

In [38]:
sismo.drift_table[sismo.drift_table.OutputCase == 'SDx Max']

     Story OutputCase Direction    Drifts Drift_Check
6   Story8    SDx Max         X  0.005438      Cumple
15  Story7    SDx Max         X  0.006257      Cumple
24  Story6    SDx Max         X  0.007409   No Cumple
33  Story5    SDx Max         X  0.008172   No Cumple
42  Story4    SDx Max         X  0.008383   No Cumple
51  Story3    SDx Max         X  0.008062   No Cumple
59  Story2    SDx Max         X  0.006860      Cumple
68  Story1    SDx Max         X  0.003372      Cumple
77      NT    SDx Max         X  0.000617      Cumple
78      NT    SDx Max         Y  0.000072      Cumple

In [30]:
sismo.drift_table[sismo.drift_table.OutputCase == 'SDx Min']

Empty DataFrame
Columns: [Story, OutputCase, Direction, Drifts, Drift_Check]
Index: []

In [31]:
sismo.drift_table[sismo.drift_table.OutputCase == 'SDy Max']

     Story OutputCase Direction    Drifts Drift_Check
7   Story8    SDy Max         X  0.000963      Cumple
8   Story8    SDy Max         Y  0.000896      Cumple
16  Story7    SDy Max         X  0.001062      Cumple
17  Story7    SDy Max         Y  0.000949      Cumple
25  Story6    SDy Max         X  0.001138      Cumple
26  Story6    SDy Max         Y  0.000959      Cumple
34  Story5    SDy Max         X  0.001170      Cumple
35  Story5    SDy Max         Y  0.000941      Cumple
43  Story4    SDy Max         X  0.001147      Cumple
44  Story4    SDy Max         Y  0.000878      Cumple
52  Story3    SDy Max         X  0.001039      Cumple
53  Story3    SDy Max         Y  0.000761      Cumple
60  Story2    SDy Max         X  0.000828      Cumple
61  Story2    SDy Max         Y  0.000598      Cumple
69  Story1    SDy Max         X  0.000501      Cumple
70  Story1    SDy Max         Y  0.000378      Cumple
79      NT    SDy Max         X  0.000085      Cumple
80      NT    SDy Max         Y  0.000069      Cumple

In [32]:
sismo.drift_table[sismo.drift_table.OutputCase == 'SDy Min']

Empty DataFrame
Columns: [Story, OutputCase, Direction, Drifts, Drift_Check]
Index: []

In [33]:
sismo.drift_table[sismo.drift_table.OutputCase == 'Sx Max']

     Story OutputCase Direction    Drifts Drift_Check
0   Story8     Sx Max         X  0.006667      Cumple
9   Story7     Sx Max         X  0.007684   No Cumple
18  Story6     Sx Max         X  0.009002   No Cumple
27  Story5     Sx Max         X  0.009945   No Cumple
36  Story4     Sx Max         X  0.010211   No Cumple
45  Story3     Sx Max         X  0.009817   No Cumple
54  Story2     Sx Max         X  0.008332   No Cumple
62  Story1     Sx Max         X  0.004152      Cumple
71      NT     Sx Max         X  0.000849      Cumple

In [34]:
sismo.drift_table[sismo.drift_table.OutputCase == 'Sx Min']

     Story OutputCase Direction    Drifts Drift_Check
1   Story8     Sx Min         X  0.005681      Cumple
10  Story7     Sx Min         X  0.006599      Cumple
19  Story6     Sx Min         X  0.007717   No Cumple
28  Story5     Sx Min         X  0.008469   No Cumple
37  Story4     Sx Min         X  0.008663   No Cumple
46  Story3     Sx Min         X  0.008289   No Cumple
55  Story2     Sx Min         X  0.007011   No Cumple
63  Story1     Sx Min         X  0.003654      Cumple
72      NT     Sx Min         X  0.000771      Cumple

In [35]:
sismo.drift_table[sismo.drift_table.OutputCase == 'Sy Max']

     Story OutputCase Direction    Drifts Drift_Check
2   Story8     Sy Max         X  0.000923      Cumple
3   Story8     Sy Max         Y  0.001345      Cumple
11  Story7     Sy Max         X  0.001012      Cumple
12  Story7     Sy Max         Y  0.001436      Cumple
20  Story6     Sy Max         X  0.001073      Cumple
21  Story6     Sy Max         Y  0.001478      Cumple
29  Story5     Sy Max         X  0.001087      Cumple
30  Story5     Sy Max         Y  0.001469      Cumple
38  Story4     Sy Max         X  0.001060      Cumple
39  Story4     Sy Max         Y  0.001395      Cumple
47  Story3     Sy Max         X  0.000961      Cumple
48  Story3     Sy Max         Y  0.001228      Cumple
56  Story2     Sy Max         Y  0.000985      Cumple
64  Story1     Sy Max         X  0.000462      Cumple
65  Story1     Sy Max         Y  0.000603      Cumple
73      NT     Sy Max         X  0.000059      Cumple
74      NT     Sy Max         Y  0.000085      Cumple

In [36]:
sismo.drift_table[sismo.drift_table.OutputCase == 'Sy Min']

     Story OutputCase Direction    Drifts Drift_Check
4   Story8     Sy Min         X  0.000799      Cumple
5   Story8     Sy Min         Y  0.001215      Cumple
13  Story7     Sy Min         X  0.001010      Cumple
14  Story7     Sy Min         Y  0.001292      Cumple
22  Story6     Sy Min         X  0.001199      Cumple
23  Story6     Sy Min         Y  0.001321      Cumple
31  Story5     Sy Min         X  0.001285      Cumple
32  Story5     Sy Min         Y  0.001310      Cumple
40  Story4     Sy Min         X  0.001292      Cumple
41  Story4     Sy Min         Y  0.001238      Cumple
49  Story3     Sy Min         X  0.001226      Cumple
50  Story3     Sy Min         Y  0.001085      Cumple
57  Story2     Sy Min         X  0.001042      Cumple
58  Story2     Sy Min         Y  0.000868      Cumple
66  Story1     Sy Min         X  0.000540      Cumple
67  Story1     Sy Min         Y  0.000531      Cumple
75      NT     Sy Min         X  0.000028      Cumple
76      NT     Sy Min         Y  0.000082      Cumple