# Análisis Sísmico

In [8]:
#Importar las librerías necesarias
%load_ext autoreload
%autoreload 2
import os
import sys
sys.path.append(os.getcwd()+'\\..')
from lib import etabs_utils as etb
from lib import sismo_utils as sis
#from mem import sismo_mem as smem
from ipywidgets import widgets
from IPython.display import display

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
#!pip install -U ipywidgets==7.7.1
#!jupyter nbextension enable --py widgetsnbextension

In [10]:
_,SapModel = etb.connect_to_etabs()

In [11]:
sismo = sis.sismo_e30()

# Parámetros de Sitio

## Zonificación
![Factor de Zonifiación](./factor_zona.png)

## Factor de Suelo
![Factor de Suelo](./factor_suelo.png)

## Periodos del suelo
![Periodos del Suelo](./periodos_suelo.png)

## Sistema Estructural
![Sistema Estructural](./sistemas_estructurales.png)

## Factor de Amplificación sísmica
![Factor de Amplificacion Sísmica](./amplificacion_sismica.png)

## Factor de Importancia
![Factor de Importancia](./factor_importancia.png)

In [12]:
sismo.parametros_e30()

VBox(children=(Dropdown(description='Factor Zona', index=2, options=('1', '2', '3', '4'), style=DescriptionSty…

# Irregularidades

In [13]:
sismo.irregularidades_e30()

HBox(children=(VBox(children=(HTML(value='<b>Irregularidad en Altura</b>'), Checkbox(value=False, description=…

# Parámetros Sísmicos

In [14]:
sismo.show_params()

Parámetros de sitio:
Factor de zona:
    Z=0.35
Factor de Importancia:
    U=1.30
Factor de Suelo:
    S=1.20
Periodos del Suelo:
    Tp=1.00
    Tl=1.60
Factor Básico de Reducción:
    Rox=5.00
    Roy=5.00
Irregularidad en planta:
    Ipx=0.60
    Ipy=0.60
Irregularidad en altura:
    Iax=0.90
    Iay=0.60
Factor de Reducción:
    Rx=2.70
    Ry=2.70

In [15]:
sismo.analisis_sismo(SapModel)

Análisis Modal:
Masa Participativa X: 0.95
Masa Participativa Y: 0.86
---Aumentar Grados de Libertad 0.86 < 0.9
Periodo y deformaxión X: Tx=0.042, Ux=0.000
Periodo y deformaxión Y: Ty=0.032, Uy=0.004
Factor de Reduccion con Irregularidades: R=2.7
C en X: 2.50
C en Y: 2.50

Coeficiente de sismo estático X: 0.506
Coeficiente de sismo estático Y: 0.506
Exponente de altura X: 1.00
Exponente de altura Y: 1.00

## Revisión por Piso Blando

In [ ]:
sis.show_table(sismo.piso_blando_table)

Dropdown(description='Filtro', index=1, options=('Sy Min', 'SDy Max', 'Sx Max', 'SDx Max', 'Sy Max', 'Sx Min',…

,Story,OutputCase,UX,UY,URX,URY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
8,Story8,SDy Max,1.034,3.22,0.154,0.471,9340.76,188847.06,4.616035e+05,0.000000e+00,0.000000e+00,Regular
9,Story7,SDy Max,0.88,2.749,0.122,0.495,17689.01,385502.89,9.237856e+05,3.231224e+05,0.000000e+00,Regular
10,Story6,SDy Max,0.758,2.254,0.140,0.501,24032.76,535326.83,1.240179e+06,6.466499e+05,0.000000e+00,Regular
11,Story5,SDy Max,0.618,1.753,0.144,0.490,29158.11,649676.53,1.528357e+06,8.681254e+05,7.001515e+05,Regular
12,Story4,SDy Max,0.474,1.263,0.160,0.456,33980.75,743392.21,1.842626e+06,1.069850e+06,9.846192e+05,Regular
13,Story3,SDy Max,0.314,0.807,0.150,0.394,38030.53,814142.53,2.319888e+06,1.289838e+06,1.229643e+06,Regular
14,Story2,SDy Max,0.164,0.413,0.107,0.296,40736.49,857879.18,3.278955e+06,1.623922e+06,1.517566e+06,Regular
15,Story1,SDy Max,0.057,0.117,0.057,0.117,41484.54,869359.9,8.158225e+06,2.295269e+06,1.984392e+06,Regular

## Revisión por Irregularidad de Masa

In [17]:
sismo.rev_masa_table

    Story     Mass 1.5_inf_mass 1.5_sup_mass story_type     is_reg
0  Story8  65.3981                               Azotea    Regular
1  Story7  85.8431     128.5221                    Piso    Regular
2  Story6  85.6814     128.5509    128.76465       Piso    Regular
3  Story5  85.7006     134.7939     128.5221       Piso    Regular
4  Story4  89.8626     134.7939     128.5509       Piso    Regular
5  Story3  89.8626     134.7939     134.7939       Piso    Regular
6  Story2  89.8626     109.3485     134.7939       Piso    Regular
7  Story1   72.899     52.36965     134.7939       Piso  Irregular
8      NT  34.9131                  109.3485       Piso    Regular
9    Base  38.4194                               Sotano    Regular

## Revisión de torsión

In [18]:
sis.show_table(sismo.torsion_table)

Dropdown(description='Filtro', index=6, options=('Sx Max', 'Sx Min', 'Sy Max', 'Sy Min', 'SDx Max', 'SDy Max',…

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
0,Story8,Sx Max,X,3.536,3.073,1.151,2500,0.003246,True,Regular
1,Story8,Sx Min,X,3.013,2.589,1.163,2500,0.002766,True,Regular
2,Story8,Sy Max,X,0.46,0.107,4.305,2500,0.000422,True,Regular
3,Story8,Sy Max,Y,0.671,0.564,1.19,2500,0.000616,True,Regular
4,Story8,Sy Min,X,0.399,0.078,5.118,2500,0.000366,True,Regular
...,...,...,...,...,...,...,...,...,...,...
76,NT,Sy Min,Y,0.029,0.001,40.601,1750,0.000038,True,Regular
77,NT,SDx Max,X,0.24,0.12,2,1750,0.000315,True,Regular
78,NT,SDx Max,Y,0.028,0.014,2,1750,0.000037,True,Regular
79,NT,SDy Max,X,0.033,0.016,2,1750,0.000043,True,Regular
80,NT,SDy Max,Y,0.027,0.013,2,1750,0.000035,True,Regular

## Derivas

In [19]:
sis.show_table(sismo.drift_table)

Dropdown(description='Filtro', index=6, options=('Sx Max', 'Sx Min', 'Sy Max', 'Sy Min', 'SDx Max', 'SDy Max',…

     Story OutputCase Direction    Drifts Drift_Check
0   Story8     Sx Max         X  0.003246      Cumple
1   Story8     Sx Min         X  0.002766      Cumple
2   Story8     Sy Max         X  0.000422      Cumple
3   Story8     Sy Max         Y  0.000616      Cumple
4   Story8     Sy Min         X  0.000366      Cumple
..     ...        ...       ...       ...         ...
76      NT     Sy Min         Y  0.000038      Cumple
77      NT    SDx Max         X  0.000315      Cumple
78      NT    SDx Max         Y  0.000037      Cumple
79      NT    SDy Max         X  0.000043      Cumple
80      NT    SDy Max         Y  0.000035      Cumple

[81 rows x 5 columns]

# Fuerza Cortante Mínima

In [20]:
sismo.shear_table.style.hide(axis='index').hide(axis='columns')