# Análisis Sísmico

In [33]:
#Importar las librerías necesarias
%load_ext autoreload
%autoreload 2
import os
import sys
sys.path.append(os.getcwd()+'\\..')
from lib import etabs_utils as etb
from lib import sismo_utils as sis
#from mem import sismo_mem as smem
from ipywidgets import widgets
from IPython.display import display

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [34]:
_,SapModel = etb.connect_to_etabs()

In [35]:
sismo = sis.sismo_e30()

# Parámetros de Sitio

## Zonificación
![Factor de Zonifiación](./factor_zona.png)

## Factor de Suelo
![Factor de Suelo](./factor_suelo.png)

## Periodos del suelo
![Periodos del Suelo](./periodos_suelo.png)

## Sistema Estructural
![Sistema Estructural](./sistemas_estructurales.png)

## Factor de Amplificación sísmica
![Factor de Amplificacion Sísmica](./amplificacion_sismica.png)

## Factor de Importancia
![Factor de Importancia](./factor_importancia.png)

In [36]:
sismo.parametros_e30()

VBox(children=(Dropdown(description='Factor Zona', index=1, options=('1', '2', '3', '4'), style=DescriptionSty…

# Irregularidades

In [37]:
sismo.irregularidades_e30()

HBox(children=(VBox(children=(HTML(value='<b>Irregularidad en Altura</b>'), Checkbox(value=False, description=…

# Parámetros Sísmicos

In [38]:
sismo.show_params()

Parámetros de sitio:
Factor de zona:
    Z=0.25
Factor de Importancia:
    U=1.50
Factor de Suelo:
    S=1.00
Periodos del Suelo:
    Tp=0.40
    Tl=2.50
Factor Básico de Reducción:
    Rox=7.00
    Roy=7.00
Irregularidad en planta:
    Ipx=1.00
    Ipy=1.00
Irregularidad en altura:
    Iax=1.00
    Iay=1.00
Factor de Reducción:
    Rx=7.00
    Ry=7.00

In [39]:
sismo.analisis_sismo(SapModel)

Análisis Modal:
Masa Participativa X: 1.00
Masa Participativa Y: 1.00
Periodo y deformaxión X: Tx=0.029, Ux=0.000
Periodo y deformaxión Y: Ty=0.225, Uy=0.000
Factor de Reduccion con Irregularidades: R=7.0
C en X: 2.50
C en Y: 2.50

Coeficiente de sismo estático X: 0.134
Coeficiente de sismo estático Y: 0.134
Exponente de altura X: 1.00
Exponente de altura Y: 1.00

## Revisión por Piso Blando

In [40]:
sis.show_table(sismo.piso_blando_table)

Dropdown(description='Filtro', index=44, options=('Derivas Min', 'Servicio', 'R18 Min', 'R13 Max', 'R14 Min', …

,Story,OutputCase,UX,UY,ΔUX,ΔUY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
0,Story3,Derivas Min,-57.629,-32.8,-16.545,-8.919,-1656522.79,-1641502.87,184045.618343,0.000000,0.0,Regular
1,Story2,Derivas Min,-41.084,-23.881,-20.616,-11.790,-3277846.08,-3288901.43,278956.864292,128831.932840,0.0,Regular
2,Story1,Derivas Min,-20.468,-12.091,-20.468,-12.091,-4201544.58,-4233978.69,350176.055744,195269.805004,0.0,Regular
3,Story3,Servicio,-0.004,-0.009,-0.002,-0.002,0,0,0.000000,0.000000,0.0,Irregular
4,Story2,Servicio,-0.002,-0.007,-0.001,-0.004,0,0,0.000000,0.000000,0.0,Irregular
...,...,...,...,...,...,...,...,...,...,...,...,...
127,Story2,ER Min,-9.133,-4.573,-4.583,-2.260,-728410.24,-626457.42,277193.548673,128292.524619,0.0,Regular
128,Story1,ER Min,-4.55,-2.313,-4.550,-2.313,-933676.57,-806472.13,348669.316904,194035.484071,0.0,Regular
129,Story3,R17 Max,12.802,1.885,3.675,0.511,368116.18,93800.16,183561.956947,0.000000,0.0,Regular
130,Story2,R17 Max,9.127,1.374,4.580,0.680,728410.24,187937.22,276378.264706,128493.369863,0.0,Regular
131,Story1,R17 Max,4.547,0.694,4.547,0.694,933676.57,241941.64,348619.077810,193464.785294,0.0,Regular

In [41]:
a = sismo.piso_blando_table

## Revisión por Irregularidad de Masa

In [42]:
sismo.rev_masa_table

    Story      Mass   1.5 Mass story_type is_regular
0  Story3   90.1284                Azotea    Regular
1  Story2  135.8175  203.72625       Piso    Regular
2  Story1  143.2935  214.94025       Piso    Regular
3    Base   26.7000                Sotano    Regular

## Revisión de torsión

In [43]:
sis.show_table(sismo.torsion_table)

Dropdown(description='Filtro', index=39, options=(nan, 'SDx Max', 'SDy Max', 'Derivas Max', 'Derivas Min', 'R2…

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
0,Story3,NaN,X,4.506,4.149,1.086,3600,0.006571,False,Regular
1,Story3,NaN,Y,1.968,1.916,1.027,3600,0.002870,True,Regular
2,Story3,SDx Max,X,4.028,3.867,1.042,3600,0.005874,False,Regular
3,Story3,SDx Max,Y,0.643,0.622,1.034,3600,0.000938,True,Regular
4,Story3,SDy Max,X,1.227,1.17,1.049,3600,0.001789,True,Regular
...,...,...,...,...,...,...,...,...,...,...
253,Story1,R19 Min,Y,2.352,2.343,1.004,5000,0.002470,True,Regular
254,Story1,ER Max,X,4.891,4.72,1.036,5000,0.005136,False,Regular
255,Story1,ER Max,Y,2.361,2.349,1.005,5000,0.002479,True,Regular
256,Story1,ER Min,X,4.881,4.716,1.035,5000,0.005125,False,Regular
257,Story1,ER Min,Y,2.365,2.356,1.004,5000,0.002483,True,Regular

## Derivas

In [44]:
sis.show_table(sismo.drift_table)

Dropdown(description='Filtro', index=39, options=(nan, 'SDx Max', 'SDy Max', 'Derivas Max', 'Derivas Min', 'R2…

      Story OutputCase Direction    Drifts Drift_Check
0    Story3        NaN         X  0.006571      Cumple
1    Story3        NaN         Y  0.002870      Cumple
2    Story3    SDx Max         X  0.005874      Cumple
3    Story3    SDx Max         Y  0.000938      Cumple
4    Story3    SDy Max         X  0.001789      Cumple
..      ...        ...       ...       ...         ...
253  Story1    R19 Min         Y  0.002470      Cumple
254  Story1     ER Max         X  0.005136      Cumple
255  Story1     ER Max         Y  0.002479      Cumple
256  Story1     ER Min         X  0.005125      Cumple
257  Story1     ER Min         Y  0.002483      Cumple

[258 rows x 5 columns]

# Fuerza Cortante Mínima

In [45]:
sismo.shear_table.style.hide(axis='index').hide(axis='columns')